################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/UmbracoContainer/umbraco/models
/usync_export_20230731_212832
/OLD_usync_export_20230731_212832.zip
/UmbracoContainer/.vs
/.vs/
/.vs/ProjectEvaluation/umbracocontainer.metadata.v7.bin
