<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2cec410-895e-404a-8241-f7faa64d647b" Alias="56685 CMMI Knockout 1 E1663703688595" Level="3">
  <Info>
    <Parent Key="505d5a9d-e348-4070-ab17-d9cfa2e5ad57">Certifications</Parent>
    <Path>/images/Certifications/CMMIKnockout1E1663703688595</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-26T14:02:23</CreateDate>
    <NodeName Default="56685 CMMI Knockout 1 E1663703688595" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c1cm3ys4/56685-cmmi-knockout-1-e1663703688595.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>