<?xml version="1.0" encoding="utf-8"?>
<Media Key="c962cfe8-936d-4865-890b-745a690ada50" Alias="6414361683 Abdaeeff65 W" Level="3">
  <Info>
    <Parent Key="ba80013c-9d8b-4eb8-99bf-5d27865c55cd">Stock</Parent>
    <Path>/images/Stock/Abdaeeff65W</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-21T21:32:03</CreateDate>
    <NodeName Default="6414361683 Abdaeeff65 W" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/31hhfsln/6414361683_abdaeeff65_w.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>