<?xml version="1.0" encoding="utf-8"?>
<Media Key="85a1a6d8-87b9-4c5d-b50c-b4d674c69fbc" Alias="Ashley Toth 600X600 Bw 500X500" Level="2">
  <Info>
    <Parent Key="923af9b6-83b8-4040-8829-a70142404e78">Heroes</Parent>
    <Path>/Heroes/AshleyToth600X600Bw500X500</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-05T14:24:42</CreateDate>
    <NodeName Default="Ashley Toth 600X600 Bw 500X500" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/10tkdbnz/ashley-toth-600x600-bw-500x500.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>