<?xml version="1.0" encoding="utf-8"?>
<Media Key="df852c04-5a91-44a9-bd0c-bac2d4230173" Alias="CompanyLogos" Level="2">
  <Info>
    <Parent Key="c0234257-36b2-4fdc-b202-d8ed0d54a457">images</Parent>
    <Path>/images/CompanyLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-26T13:59:43</CreateDate>
    <NodeName Default="CompanyLogos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>