<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c6bb473-e827-4317-9915-f1e520e08ed6" Alias="Employee Bios" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EmployeeBios</Path>
    <Trashed>false</Trashed>
    <ContentType>employeeBiosMt</ContentType>
    <CreateDate>2023-07-27T13:25:10</CreateDate>
    <NodeName Default="Employee Bios" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>