<?xml version="1.0" encoding="utf-8"?>
<Media Key="63c199a2-77d8-4a81-8056-2a80aa16581f" Alias="Feature Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FeatureImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-31T00:01:47</CreateDate>
    <NodeName Default="Feature Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>