<?xml version="1.0" encoding="utf-8"?>
<Media Key="eab3a5fb-ed6d-4053-a7e0-3306bf617c51" Alias="Footer Certifications / Badges" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FooterCertificationsBadges</Path>
    <Trashed>false</Trashed>
    <ContentType>footerBadgesMt</ContentType>
    <CreateDate>2023-07-27T13:51:50</CreateDate>
    <NodeName Default="Footer Certifications / Badges" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>