<?xml version="1.0" encoding="utf-8"?>
<Media Key="483ee247-0462-498f-86bd-6c16a6f566f1" Alias="Healthtech Solutions Logo Header" Level="2">
  <Info>
    <Parent Key="ce9887b6-80e1-4889-a209-2c6e7f613c51">SiteLogos</Parent>
    <Path>/SiteLogos/HealthtechSolutionsLogoHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-26T14:02:56</CreateDate>
    <NodeName Default="Healthtech Solutions Logo Header" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ihrd2sdc/healthtech-solutions-header-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>