<?xml version="1.0" encoding="utf-8"?>
<Media Key="923af9b6-83b8-4040-8829-a70142404e78" Alias="Heroes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Heroes</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-26T14:00:20</CreateDate>
    <NodeName Default="Heroes" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>