<?xml version="1.0" encoding="utf-8"?>
<Media Key="6407494a-dec1-43df-8db5-448c20e5d26d" Alias="Location Contacts" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LocationContacts</Path>
    <Trashed>false</Trashed>
    <ContentType>contactBookMt</ContentType>
    <CreateDate>2023-07-28T19:42:33</CreateDate>
    <NodeName Default="Location Contacts" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>