<?xml version="1.0" encoding="utf-8"?>
<Media Key="74a09803-7910-4726-a668-c407dcb20bcd" Alias="Mackenzie 500X500" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mackenzie500X500</Path>
    <Trashed>false</Trashed>
    <ContentType>employeeBioMt</ContentType>
    <CreateDate>2023-07-27T13:27:22</CreateDate>
    <NodeName Default="Mackenzie 500X500" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <employeeBio>
      <Value><![CDATA[Mackenzie Brown began working for HealthTech Solutions in 2015 after her tenure as a special assistant to the first lady of Kentucky. She tackled office administration and oversight until her recent move to managing human resources for our fast-growing company. In addition to taking her career in new directions with learning about human resources, the work/life balance afforded as part of the company ethos allowed her to pursue her MBA. “I love that this company allows people with less experience find their own way through mentorship and supporting projects.”]]></Value>
    </employeeBio>
    <employeeName>
      <Value><![CDATA[Mackenzie Brown, MBA]]></Value>
    </employeeName>
    <employeeTitle>
      <Value><![CDATA[Human Resources]]></Value>
    </employeeTitle>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y04n30fl/mackenzie-500x500.jpg",
  "crops": [
    {
      "alias": "thumbnail",
      "coordinates": {
        "x1": 0,
        "y1": 0,
        "x2": 0,
        "y2": 0
      }
    }
  ]
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>