<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6c7cf47-f463-4289-8545-f6cbcd6d864e" Alias="Main Office Contact Info" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MainOfficeContactInfo</Path>
    <Trashed>false</Trashed>
    <ContentType>companyContactMt</ContentType>
    <CreateDate>2023-07-28T19:45:58</CreateDate>
    <NodeName Default="Main Office Contact Info" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <companyCity>
      <Value><![CDATA[Frankfort]]></Value>
    </companyCity>
    <companyLocation>
      <Value><![CDATA[Main Office]]></Value>
    </companyLocation>
    <companyMainEmail>
      <Value><![CDATA[contact@healthtechsolutions.com]]></Value>
    </companyMainEmail>
    <companyMainPhone>
      <Value><![CDATA[(502) 352-2460]]></Value>
    </companyMainPhone>
    <companyName>
      <Value><![CDATA[HealthTech Solutions]]></Value>
    </companyName>
    <companyOfficeHours>
      <Value><![CDATA[Monday–Friday, 8:00am–5:30pm ET]]></Value>
    </companyOfficeHours>
    <companyOtherPhones>
      <Value><![CDATA[]]></Value>
    </companyOtherPhones>
    <companyState>
      <Value><![CDATA[Kentucky]]></Value>
    </companyState>
    <companyStreet>
      <Value><![CDATA[2030 Hoover Blvd.]]></Value>
    </companyStreet>
    <companyZipCode>
      <Value><![CDATA[40601]]></Value>
    </companyZipCode>
  </Properties>
</Media>