<?xml version="1.0" encoding="utf-8"?>
<Media Key="461d01c7-0a1a-44d6-b4a2-3637d00e096b" Alias="Main Office" Level="2">
  <Info>
    <Parent Key="6407494a-dec1-43df-8db5-448c20e5d26d">Location Contacts</Parent>
    <Path>/LocationContacts/MainOffice</Path>
    <Trashed>false</Trashed>
    <ContentType>companyContactMt</ContentType>
    <CreateDate>2023-08-01T00:05:16</CreateDate>
    <NodeName Default="Main Office" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <companyCity>
      <Value><![CDATA[Frankfort]]></Value>
    </companyCity>
    <companyLocation>
      <Value><![CDATA[Main Office]]></Value>
    </companyLocation>
    <companyMainEmail>
      <Value><![CDATA[contact@healthtechsolutions.com]]></Value>
    </companyMainEmail>
    <companyMainPhone>
      <Value><![CDATA[5555555555]]></Value>
    </companyMainPhone>
    <companyName>
      <Value><![CDATA[HealthTech Solutions]]></Value>
    </companyName>
    <companyOfficeHours>
      <Value><![CDATA[Mon. - Fri. 8:00 am - 5:00 pm]]></Value>
    </companyOfficeHours>
    <companyOtherPhones>
      <Value><![CDATA[]]></Value>
    </companyOtherPhones>
    <companyState>
      <Value><![CDATA[Kentucky]]></Value>
    </companyState>
    <companyStreet>
      <Value><![CDATA[1030 Hover Blvd]]></Value>
    </companyStreet>
    <companyZipCode>
      <Value><![CDATA[12345]]></Value>
    </companyZipCode>
  </Properties>
</Media>