<?xml version="1.0" encoding="utf-8"?>
<Media Key="9145672c-4290-41d2-a126-62e7381edc13" Alias="Overhead Shot" Level="2">
  <Info>
    <Parent Key="63c199a2-77d8-4a81-8056-2a80aa16581f">Feature Images</Parent>
    <Path>/FeatureImages/OverheadShot</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-31T00:03:02</CreateDate>
    <NodeName Default="Overhead Shot" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fjtflemq/screenshot_20230222_121801.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>