<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce9887b6-80e1-4889-a209-2c6e7f613c51" Alias="SiteLogos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-26T13:59:28</CreateDate>
    <NodeName Default="SiteLogos" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>