<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2117d6e-b5bd-49a3-9354-0711f62540c7" Alias="Sofie Hammock" Level="2">
  <Info>
    <Parent Key="ba80013c-9d8b-4eb8-99bf-5d27865c55cd">Stock</Parent>
    <Path>/Stock/SofieHammock</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-21T19:04:56</CreateDate>
    <NodeName Default="Sofie Hammock" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nb4bdmv3/sofie-hammock.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>