<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba80013c-9d8b-4eb8-99bf-5d27865c55cd" Alias="Stock" Level="2">
  <Info>
    <Parent Key="c0234257-36b2-4fdc-b202-d8ed0d54a457">images</Parent>
    <Path>/images/Stock</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-26T13:59:59</CreateDate>
    <NodeName Default="Stock" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>