/* ---------- Style for employee bio listings ---------- */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
}

/* Custom popover styles */
.custom-popover {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 8px;
    padding: 10px;
    max-width: 300px;
    height: 70%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    transition-delay: 0.1s;
}

.position-relative:hover .custom-popover {
    opacity: 1;
}

.accordion-button::after {
    background-image: none;
    width: 0;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    width: 0;
}

.emp-bio-item {
    max-width: max-content;
    height: fit-content;
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 100%;
}

.emp-bio-detail {
    max-height: inherit;
    height: 100%;
    width: 90%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .emp-bio-item {
        display: inline-block;
        width: 49%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .emp-bio-item {
        width: 32%;
    }

    .emp-bio-detail {
        width: 75%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .emp-bio-item {
        width: 24%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .emp-bio-item {
        width: 19%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
