<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f12fca0-e5fc-42e8-978b-0e13e5292b59" Alias="About HTS" Level="2">
  <Info>
    <Parent Key="ee4875fc-f7e8-481a-a09d-b7c1a0b78c9f">Home</Parent>
    <Path>/Home/AboutHTS</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-07-21T19:03:59</CreateDate>
    <NodeName Default="About HTS" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86fa6811-4ad0-45da-852c-f5c5cea58630">ContentPage</Template>
  </Info>
  <Properties>
    <bannerHeroImages>
      <Value><![CDATA[[]]]></Value>
    </bannerHeroImages>
    <bottomRowLinks>
      <Value><![CDATA[]]></Value>
    </bottomRowLinks>
    <footerBadges>
      <Value><![CDATA[[]]]></Value>
    </footerBadges>
    <footerContact>
      <Value><![CDATA[[]]]></Value>
    </footerContact>
    <footerDisplayBadges>
      <Value><![CDATA[1]]></Value>
    </footerDisplayBadges>
    <footerDisplayBR>
      <Value><![CDATA[1]]></Value>
    </footerDisplayBR>
    <footerDisplayMRCC>
      <Value><![CDATA[1]]></Value>
    </footerDisplayMRCC>
    <footerDisplayMRLC>
      <Value><![CDATA[1]]></Value>
    </footerDisplayMRLC>
    <footerDisplayMRRC>
      <Value><![CDATA[1]]></Value>
    </footerDisplayMRRC>
    <footerDisplayTR>
      <Value><![CDATA[1]]></Value>
    </footerDisplayTR>
    <footerLogo>
      <Value><![CDATA[[]]]></Value>
    </footerLogo>
    <headerDisplayHero>
      <Value><![CDATA[0]]></Value>
    </headerDisplayHero>
    <headerDisplayTitles>
      <Value><![CDATA[1]]></Value>
    </headerDisplayTitles>
    <headerLogo>
      <Value><![CDATA[[]]]></Value>
    </headerLogo>
    <headerSubtitle>
      <Value><![CDATA[]]></Value>
    </headerSubtitle>
    <headerTitle>
      <Value><![CDATA[]]></Value>
    </headerTitle>
    <middleLeftLinks>
      <Value><![CDATA[]]></Value>
    </middleLeftLinks>
    <middleRightContent>
      <Value><![CDATA[]]></Value>
    </middleRightContent>
    <singleColumnBody>
      <Value><![CDATA[<h2>This is a page header</h2>
<h3>This is a section header</h3>
<h4>This is a paragraph header</h4>
<p>This is normal text</p>
<blockquote>This is a quote</blockquote>
<p> &lt;p&gt;This is a code sample container, where you can present code tags.&lt;p&gt;</p>
<p><a rel="noopener" href="/umbraco" target="_blank"> This is a hyperlink</a></p>
<p>This is an ordered list:</p>
<ol>
<li>Item1</li>
<li>Item2</li>
<li>Item3</li>
</ol>
<p>This is an unordered list:</p>
<ul>
<li>Item1</li>
<li>Item2</li>
<li>Item3</li>
</ul>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="?rmode=max&amp;width=500" alt="Sofie Toft Hammock" width="500" height="333" data-udi="umb://media/b2117d6eb5bd49a393540711f62540c7"></p>
<p> </p>]]></Value>
    </singleColumnBody>
    <slideTimer>
      <Value><![CDATA[]]></Value>
    </slideTimer>
    <slideTransition>
      <Value><![CDATA[]]></Value>
    </slideTransition>
    <topRowLinks>
      <Value><![CDATA[]]></Value>
    </topRowLinks>
  </Properties>
</Content>