<?xml version="1.0" encoding="utf-8"?>
<Content Key="e44c16b8-11ce-4e8e-8a92-e46eef89832c" Alias="Articles" Level="2">
  <Info>
    <Parent Key="ee4875fc-f7e8-481a-a09d-b7c1a0b78c9f">Welcome</Parent>
    <Path>/Welcome/Articles</Path>
    <Trashed>false</Trashed>
    <ContentType>articles</ContentType>
    <CreateDate>2023-07-21T20:17:41</CreateDate>
    <NodeName Default="Articles" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerHeroImages>
      <Value><![CDATA[[]]]></Value>
    </bannerHeroImages>
    <bottomRowLinks>
      <Value><![CDATA[]]></Value>
    </bottomRowLinks>
    <featuredArticle>
      <Value><![CDATA[]]></Value>
    </featuredArticle>
    <footerBadges>
      <Value><![CDATA[[]]]></Value>
    </footerBadges>
    <footerContact>
      <Value><![CDATA[[]]]></Value>
    </footerContact>
    <footerDisplayBadges>
      <Value><![CDATA[1]]></Value>
    </footerDisplayBadges>
    <footerDisplayBR>
      <Value><![CDATA[1]]></Value>
    </footerDisplayBR>
    <footerDisplayMRCC>
      <Value><![CDATA[1]]></Value>
    </footerDisplayMRCC>
    <footerDisplayMRLC>
      <Value><![CDATA[1]]></Value>
    </footerDisplayMRLC>
    <footerDisplayMRRC>
      <Value><![CDATA[1]]></Value>
    </footerDisplayMRRC>
    <footerDisplayTR>
      <Value><![CDATA[1]]></Value>
    </footerDisplayTR>
    <footerLogo>
      <Value><![CDATA[[]]]></Value>
    </footerLogo>
    <headerDisplayHero>
      <Value><![CDATA[0]]></Value>
    </headerDisplayHero>
    <headerDisplayTitles>
      <Value><![CDATA[1]]></Value>
    </headerDisplayTitles>
    <headerSubtitle>
      <Value><![CDATA[Where you'll get your news articles]]></Value>
    </headerSubtitle>
    <headerTitle>
      <Value><![CDATA[News Page]]></Value>
    </headerTitle>
    <middleLeftLinks>
      <Value><![CDATA[]]></Value>
    </middleLeftLinks>
    <middleRightContent>
      <Value><![CDATA[]]></Value>
    </middleRightContent>
    <slideTimer>
      <Value><![CDATA[]]></Value>
    </slideTimer>
    <slideTransition>
      <Value><![CDATA[]]></Value>
    </slideTransition>
    <topRowLinks>
      <Value><![CDATA[]]></Value>
    </topRowLinks>
  </Properties>
</Content>