<?xml version="1.0" encoding="utf-8"?>
<Content Key="822cad66-d7c6-4e0a-8c2a-c5f606472f0b" Alias="Contact Us" Level="2">
  <Info>
    <Parent Key="ee4875fc-f7e8-481a-a09d-b7c1a0b78c9f">Welcome</Parent>
    <Path>/Welcome/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2023-07-21T19:17:21</CreateDate>
    <NodeName Default="Contact Us" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerHeroImages>
      <Value><![CDATA[]]></Value>
    </bannerHeroImages>
    <bottomRowLinks>
      <Value><![CDATA[]]></Value>
    </bottomRowLinks>
    <contactBody>
      <Value><![CDATA[<p>This is a same contact page</p>
<h3>HTS </h3>
<p><strong>HTS HQ<br><br></strong>Some Street<br>Some City<br>Some State</p>
<p>Phone: (555) 555-5555</p>
<p>Email: <a href="mailto:contact@hts.com">contact@hts.com</a></p>
<p><strong>Other Office Location</strong></p>
<p>Some Street<br>Some City<br>Some State</p>
<p>Phone: (555) 555-5555</p>
<p> </p>]]></Value>
    </contactBody>
    <footerBadges>
      <Value><![CDATA[]]></Value>
    </footerBadges>
    <footerContact>
      <Value><![CDATA[]]></Value>
    </footerContact>
    <footerDisplayBadges>
      <Value><![CDATA[]]></Value>
    </footerDisplayBadges>
    <footerDisplayBR>
      <Value><![CDATA[]]></Value>
    </footerDisplayBR>
    <footerDisplayMRCC>
      <Value><![CDATA[]]></Value>
    </footerDisplayMRCC>
    <footerDisplayMRLC>
      <Value><![CDATA[]]></Value>
    </footerDisplayMRLC>
    <footerDisplayMRRC>
      <Value><![CDATA[]]></Value>
    </footerDisplayMRRC>
    <footerDisplayTR>
      <Value><![CDATA[]]></Value>
    </footerDisplayTR>
    <footerLogo>
      <Value><![CDATA[]]></Value>
    </footerLogo>
    <headerDisplayHero>
      <Value><![CDATA[]]></Value>
    </headerDisplayHero>
    <headerDisplayTitles>
      <Value><![CDATA[]]></Value>
    </headerDisplayTitles>
    <headerSubtitle>
      <Value><![CDATA[]]></Value>
    </headerSubtitle>
    <headerTitle>
      <Value><![CDATA[Contact US]]></Value>
    </headerTitle>
    <middleLeftLinks>
      <Value><![CDATA[]]></Value>
    </middleLeftLinks>
    <middleRightContent>
      <Value><![CDATA[]]></Value>
    </middleRightContent>
    <slideTimer>
      <Value><![CDATA[]]></Value>
    </slideTimer>
    <slideTransition>
      <Value><![CDATA[]]></Value>
    </slideTransition>
    <topRowLinks>
      <Value><![CDATA[]]></Value>
    </topRowLinks>
  </Properties>
</Content>