<?xml version="1.0" encoding="utf-8"?>
<Content Key="151ae4c9-07a9-423e-be4b-31ae32018900" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-07-31T00:01:15</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="bc4b15ac-a4d1-40cf-aa1b-3f755042b6ba">HomePage</Template>
  </Info>
  <Properties>
    <homeBlockGrid>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/b8453cbb7c8b418aa36ff508d17cb8f3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/2362b032e9d24c8db1054ba9f437f640",
        "areas": [
          {
            "key": "12ed35da-8301-4843-a430-10abec86ae48",
            "items": [
              {
                "contentUdi": "umb://element/1dbd070f40be4af4bb10ef21a2de4c47",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "91ba8a90-d246-4dcf-9b74-1263a9ddb12f",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "c3652df2-24d7-4edc-92f5-6ee2fa622e5d",
      "udi": "umb://element/b8453cbb7c8b418aa36ff508d17cb8f3",
      "headline": "This is a headline!"
    },
    {
      "contentTypeKey": "39d70d04-0b4e-4262-9d86-d004d562bb46",
      "udi": "umb://element/2362b032e9d24c8db1054ba9f437f640"
    },
    {
      "contentTypeKey": "af4421e8-61a3-40a4-aac2-0666076992e6",
      "udi": "umb://element/1dbd070f40be4af4bb10ef21a2de4c47",
      "richText": "<p>This is a content block in the left column</p>"
    }
  ],
  "settingsData": []
}]]></Value>
    </homeBlockGrid>
  </Properties>
</Content>