<?xml version="1.0" encoding="utf-8"?>
<Content Key="89f28d56-0a08-40c4-ae62-91a101e00d77" Alias="Services" Level="2">
  <Info>
    <Parent Key="ee4875fc-f7e8-481a-a09d-b7c1a0b78c9f">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-04T21:59:45</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86fa6811-4ad0-45da-852c-f5c5cea58630">ContentPage</Template>
  </Info>
  <Properties>
    <bannerHeroImages>
      <Value><![CDATA[[]]]></Value>
    </bannerHeroImages>
    <bottomRowLinks>
      <Value><![CDATA[]]></Value>
    </bottomRowLinks>
    <footerBadges>
      <Value><![CDATA[[]]]></Value>
    </footerBadges>
    <footerContact>
      <Value><![CDATA[[]]]></Value>
    </footerContact>
    <footerDisplayBadges>
      <Value><![CDATA[1]]></Value>
    </footerDisplayBadges>
    <footerDisplayBR>
      <Value><![CDATA[1]]></Value>
    </footerDisplayBR>
    <footerDisplayMRCC>
      <Value><![CDATA[1]]></Value>
    </footerDisplayMRCC>
    <footerDisplayMRLC>
      <Value><![CDATA[1]]></Value>
    </footerDisplayMRLC>
    <footerDisplayMRRC>
      <Value><![CDATA[1]]></Value>
    </footerDisplayMRRC>
    <footerDisplayTR>
      <Value><![CDATA[1]]></Value>
    </footerDisplayTR>
    <footerLogo>
      <Value><![CDATA[[]]]></Value>
    </footerLogo>
    <headerDisplayHero>
      <Value><![CDATA[0]]></Value>
    </headerDisplayHero>
    <headerDisplayTitles>
      <Value><![CDATA[1]]></Value>
    </headerDisplayTitles>
    <headerSubtitle>
      <Value><![CDATA[]]></Value>
    </headerSubtitle>
    <headerTitle>
      <Value><![CDATA[]]></Value>
    </headerTitle>
    <mainNavLogo>
      <Value><![CDATA[[]]]></Value>
    </mainNavLogo>
    <middleLeftLinks>
      <Value><![CDATA[]]></Value>
    </middleLeftLinks>
    <middleRightContent>
      <Value><![CDATA[]]></Value>
    </middleRightContent>
    <singleColumnBody>
      <Value><![CDATA[]]></Value>
    </singleColumnBody>
    <slideTimer>
      <Value><![CDATA[]]></Value>
    </slideTimer>
    <slideTransition>
      <Value><![CDATA[]]></Value>
    </slideTransition>
    <topRowLinks>
      <Value><![CDATA[]]></Value>
    </topRowLinks>
  </Properties>
</Content>