<?xml version="1.0" encoding="utf-8"?>
<Content Key="bde1b871-655a-4062-9e99-f443cd9c1585" Alias="This is unpublished" Level="2">
  <Info>
    <Parent Key="ee4875fc-f7e8-481a-a09d-b7c1a0b78c9f">Welcome</Parent>
    <Path>/Welcome/ThisIsUnpublished</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-07-24T14:30:19</CreateDate>
    <NodeName Default="This is unpublished" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerHeroImages>
      <Value><![CDATA[]]></Value>
    </bannerHeroImages>
    <bottomRowLinks>
      <Value><![CDATA[]]></Value>
    </bottomRowLinks>
    <footerBadges>
      <Value><![CDATA[]]></Value>
    </footerBadges>
    <footerContact>
      <Value><![CDATA[]]></Value>
    </footerContact>
    <footerDisplayBadges>
      <Value><![CDATA[]]></Value>
    </footerDisplayBadges>
    <footerDisplayBR>
      <Value><![CDATA[]]></Value>
    </footerDisplayBR>
    <footerDisplayMRCC>
      <Value><![CDATA[]]></Value>
    </footerDisplayMRCC>
    <footerDisplayMRLC>
      <Value><![CDATA[]]></Value>
    </footerDisplayMRLC>
    <footerDisplayMRRC>
      <Value><![CDATA[]]></Value>
    </footerDisplayMRRC>
    <footerDisplayTR>
      <Value><![CDATA[]]></Value>
    </footerDisplayTR>
    <footerLogo>
      <Value><![CDATA[]]></Value>
    </footerLogo>
    <headerDisplayHero>
      <Value><![CDATA[]]></Value>
    </headerDisplayHero>
    <headerDisplayTitles>
      <Value><![CDATA[]]></Value>
    </headerDisplayTitles>
    <headerSubtitle>
      <Value><![CDATA[]]></Value>
    </headerSubtitle>
    <headerTitle>
      <Value><![CDATA[]]></Value>
    </headerTitle>
    <middleLeftLinks>
      <Value><![CDATA[]]></Value>
    </middleLeftLinks>
    <middleRightContent>
      <Value><![CDATA[]]></Value>
    </middleRightContent>
    <singleColumnBody>
      <Value><![CDATA[<p>Some text</p>]]></Value>
    </singleColumnBody>
    <slideTimer>
      <Value><![CDATA[]]></Value>
    </slideTimer>
    <slideTransition>
      <Value><![CDATA[]]></Value>
    </slideTransition>
    <topRowLinks>
      <Value><![CDATA[]]></Value>
    </topRowLinks>
  </Properties>
</Content>