<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee4875fc-f7e8-481a-a09d-b7c1a0b78c9f" Alias="Welcome" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Welcome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-07-21T18:07:50</CreateDate>
    <NodeName Default="Welcome" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerHeroImages>
      <Value><![CDATA[[]]]></Value>
    </bannerHeroImages>
    <bottomRowLinks>
      <Value><![CDATA[]]></Value>
    </bottomRowLinks>
    <footerBadges>
      <Value><![CDATA[[]]]></Value>
    </footerBadges>
    <footerContact>
      <Value><![CDATA[[
  {
    "key": "3184aeb1-2158-4258-8a50-68ed35dcbcb3",
    "mediaKey": "461d01c7-0a1a-44d6-b4a2-3637d00e096b"
  }
]]]></Value>
    </footerContact>
    <footerDisplayBadges>
      <Value><![CDATA[1]]></Value>
    </footerDisplayBadges>
    <footerDisplayBR>
      <Value><![CDATA[1]]></Value>
    </footerDisplayBR>
    <footerDisplayMRCC>
      <Value><![CDATA[1]]></Value>
    </footerDisplayMRCC>
    <footerDisplayMRLC>
      <Value><![CDATA[1]]></Value>
    </footerDisplayMRLC>
    <footerDisplayMRRC>
      <Value><![CDATA[1]]></Value>
    </footerDisplayMRRC>
    <footerDisplayTR>
      <Value><![CDATA[1]]></Value>
    </footerDisplayTR>
    <footerLogo>
      <Value><![CDATA[[]]]></Value>
    </footerLogo>
    <headerDisplayHero>
      <Value><![CDATA[1]]></Value>
    </headerDisplayHero>
    <headerDisplayTitles>
      <Value><![CDATA[1]]></Value>
    </headerDisplayTitles>
    <headerSubtitle>
      <Value><![CDATA[Welcome us to solve your challenges.]]></Value>
    </headerSubtitle>
    <headerTitle>
      <Value><![CDATA[HTS Welcome Title 2]]></Value>
    </headerTitle>
    <homePageBody>
      <Value><![CDATA[<p>Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds, to seek out new life and new civilizations, to boldly go where no man has gone before. Many say exploration is part of our destiny, but it’s actually our duty to future generations and their quest to ensure the survival of the human species.</p>
<ul>
<li>“Things are only impossible until they’re not.”–Captain Jean-Luc Picard</li>
<li>“We prefer to help ourselves. We make mistakes, but we’re human–and maybe that’s the word that best explains us.”–Captain James T. Kirk</li>
<li>“Improve a mechanical device and you may double productivity. But improve man, you gain a thousandfold.”–Khan Noonien Singh</li>
<li>“Logic is the beginning of wisdom, not the end.”–Spock</li>
</ul>
<p>And many more...</p>
<p> </p>]]></Value>
    </homePageBody>
    <homePageTitle>
      <Value><![CDATA[Welcome to HTS Umbraco Content]]></Value>
    </homePageTitle>
    <middleLeftLinks>
      <Value><![CDATA[]]></Value>
    </middleLeftLinks>
    <middleRightContent>
      <Value><![CDATA[]]></Value>
    </middleRightContent>
    <slideTimer>
      <Value><![CDATA[]]></Value>
    </slideTimer>
    <slideTransition>
      <Value><![CDATA[]]></Value>
    </slideTransition>
    <topRowLinks>
      <Value><![CDATA[]]></Value>
    </topRowLinks>
  </Properties>
</Content>