@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@

@{
    // Query for grabbing the navigation items
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback) && x.Name != "Footer").ToArray();
}

@if (selection?.Length > 0)
{
    <!-- Links -->
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Fixed navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" tabindex="i" href="/">Home</a>
                    </li>
                    @{
                        int i = 0;
                    }
                    @foreach (var item in selection)
                    {
                        <li class="@(item.IsAncestorOrSelf(Model) ? "nav-item" : null)">
                            <a class="nav-link" aria-current="page" tabindex="i" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                        </li>
                        i++;
                    }
                </ul>
                <div class="d-flex">SOCIAL ICONS</div>
            </div>
        </div>
    </nav>
}