<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a73fc7a8-6c48-4753-bb24-8f45140c64c2" Alias="articles" Level="1">
  <Info>
    <Name>Articles</Name>
    <Icon>icon-wifi color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Main articles landing page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="66f5ba5a-d638-49f9-950d-638d7713f52d">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a1a27143-18fb-46dc-9a3d-c80e4782a3e8">Articles</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="388d926b-951f-42d9-95b3-41d1c657127b" SortOrder="0">article</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a28f1e85-72bf-4ecd-855a-704fce8ea963</Key>
      <Name>FeaturedArticle</Name>
      <Alias>featuredArticle</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Article to feature on the main articles page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d672b0b6-f1b4-4444-8705-f6e40c816911</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>