<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2e08eabe-5775-4b0a-a5c1-8e88ec997cfe" Alias="contactUs" Level="1">
  <Info>
    <Name>Contact Us</Name>
    <Icon>icon-phone-ring color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Contact Form Template</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="66f5ba5a-d638-49f9-950d-638d7713f52d">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="941125fe-045d-44d1-94ac-5133514fbb1b">ContactUs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>77f2cd84-4ce6-4dde-b005-ce131bf41904</Key>
      <Name>Contact Body</Name>
      <Alias>contactBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Contact body appears in the right column on the contact template.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e0b0066a-658d-494f-8e1c-132c142704c3</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>