<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49ec6314-09b0-4678-9134-0d1262e6cf0e" Alias="homePage" Level="1">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the homepage template</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="66f5ba5a-d638-49f9-950d-638d7713f52d">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d7cf5342-c086-4818-a939-d356e56a2388">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="12af623c-1e8a-40ca-b81d-ae420568b279" SortOrder="0">contentPage</ContentType>
    <ContentType Key="2e08eabe-5775-4b0a-a5c1-8e88ec997cfe" SortOrder="1">contactUs</ContentType>
    <ContentType Key="a73fc7a8-6c48-4753-bb24-8f45140c64c2" SortOrder="2">articles</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9fa0917f-cad0-47ab-8a89-734e1407c06e</Key>
      <Name>homeContent</Name>
      <Alias>homeContent</Alias>
      <Definition>139244d2-dfeb-40fa-8acd-441f2f341a59</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content1">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3044cc27-ac11-4c4a-aeca-f3dd2227feb2</Key>
      <Caption>Content</Caption>
      <Alias>content1</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>