<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="49ec6314-09b0-4678-9134-0d1262e6cf0e" Alias="homePage" Level="1">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is the homepage template</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="66f5ba5a-d638-49f9-950d-638d7713f52d">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d7cf5342-c086-4818-a939-d356e56a2388">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="12af623c-1e8a-40ca-b81d-ae420568b279" SortOrder="0">contentPage</ContentType>
    <ContentType Key="2e08eabe-5775-4b0a-a5c1-8e88ec997cfe" SortOrder="1">contactUs</ContentType>
    <ContentType Key="a73fc7a8-6c48-4753-bb24-8f45140c64c2" SortOrder="2">articles</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>aa97b949-1398-4df5-907a-8d3457199c6f</Key>
      <Name>Home Page Body</Name>
      <Alias>homePageBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Main content of the body]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb168257-2ccd-4102-97a4-76a154c427f1</Key>
      <Name>HomePageTitle</Name>
      <Alias>homePageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page title for the home page template]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a3aab41c-8526-4879-9eb7-e39ae3fb9f55</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>