<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="66f5ba5a-d638-49f9-950d-638d7713f52d" Alias="pageSettings" Level="2">
  <Info>
    <Name>Page Settings</Name>
    <Icon>icon-defrag color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The page banner content for pages using the master template</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e81db523-a9b9-4313-864d-5dde20b8c23c</Key>
      <Name>Image(s)</Name>
      <Alias>bannerHeroImages</Alias>
      <Definition>efa23333-c52b-4830-9ea6-639ecf8380a2</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the image(s) to use as the banner hero image. If multiple images are selected, it will automatically create a slide deck.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header/bannerHero">Banner Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>70280afe-68cf-46f4-ab6a-cc94f650fcb8</Key>
      <Name>Links</Name>
      <Alias>bottomRowLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Adds a navigation menu to the bottom of the footer.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer/bottomRow">Bottom Row</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>61052ab6-cdce-4199-818a-762b25bf9801</Key>
      <Name>footerBadges</Name>
      <Alias>footerBadges</Alias>
      <Definition>8985c7fb-a25a-452e-ae38-0b3d21c477cf</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Adds a content row that will display badges / certification logos below the footer. Drag the items to change the order in which they are displayed.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer/certificationsRow">Certifications Row</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8fbda56d-7ccb-4759-8d27-ccf3c1216a1e</Key>
      <Name>Location Information</Name>
      <Alias>footerContact</Alias>
      <Definition>d80ebf5f-5c6f-486a-9d24-2a3c4123137b</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Adds location information to the footer. Only the main location contact information will be displayed in the footer.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer/middleRowCenterColumn">Middle Row - Center Column</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f408abc5-923c-461f-914e-72ffd79690c6</Key>
      <Name>Display This Section</Name>
      <Alias>footerDisplayBadges</Alias>
      <Definition>d2a67d94-72e3-499e-8ef5-344a98442514</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change this option to display or hide this section from the page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer/certificationsRow">Certifications Row</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3d24844c-fcc2-4891-bf57-e9543399594b</Key>
      <Name>Display This Section</Name>
      <Alias>footerDisplayBR</Alias>
      <Definition>d2a67d94-72e3-499e-8ef5-344a98442514</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change this option to display or hide this section from the page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer/bottomRow">Bottom Row</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4186f069-a386-4165-bb38-06ce0e75e6ad</Key>
      <Name>Display This Section</Name>
      <Alias>footerDisplayMRCC</Alias>
      <Definition>d2a67d94-72e3-499e-8ef5-344a98442514</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change this option to display or hide this section from the page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footer/middleRowCenterColumn">Middle Row - Center Column</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c6a297f7-9cfb-492e-b257-005b422b3f0b</Key>
      <Name>Display This Section</Name>
      <Alias>footerDisplayMRLC</Alias>
      <Definition>d2a67d94-72e3-499e-8ef5-344a98442514</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change this option to display or hide this section from the page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer/middleRowLeftColumn">Middle Row - Left Column</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b1d7bfa2-3252-464f-bdc5-65934337bf82</Key>
      <Name>Display This Section</Name>
      <Alias>footerDisplayMRRC</Alias>
      <Definition>d2a67d94-72e3-499e-8ef5-344a98442514</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change this option to display or hide this section from the page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer/middleRowRightColumn">Middle Row - Right Column</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>713c7fdc-f779-48fc-83a3-75a0faa59432</Key>
      <Name>Display This Section</Name>
      <Alias>footerDisplayTR</Alias>
      <Definition>d2a67d94-72e3-499e-8ef5-344a98442514</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change this option to display or hide this section from the page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer/topRow">Top Row</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>db413ff0-9b2d-48d3-af01-7f7c3e87b17b</Key>
      <Name>Logo</Name>
      <Alias>footerLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Company logo  displayed in the footer.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer/middleRowCenterColumn">Middle Row - Center Column</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e72ab08c-0f1f-44e5-9c85-b9f12ff502e9</Key>
      <Name>Display This Section</Name>
      <Alias>headerDisplayHero</Alias>
      <Definition>fd62a82f-ef40-451a-a7f0-700972e5bf78</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change this option to display or hide this section from the page.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="header/bannerHero">Banner Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90d29aba-7803-42c2-8685-4a2d506016e5</Key>
      <Name>Display This Section</Name>
      <Alias>headerDisplayTitles</Alias>
      <Definition>d2a67d94-72e3-499e-8ef5-344a98442514</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Change this option to display or hide this section from the page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header/pageHeader">Page Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f5b4d475-0cd2-4681-90b0-3b472658584f</Key>
      <Name>Subtitle</Name>
      <Alias>headerSubtitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Subtitle will appear below the title in the page banner]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header/pageHeader">Page Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b769f3fd-4510-4a60-9891-b1592f928cc1</Key>
      <Name>Title</Name>
      <Alias>headerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title will appear in the page banner]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header/pageHeader">Page Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9dc75b9e-d3a0-4a6b-84e4-d005e37da769</Key>
      <Name>Links</Name>
      <Alias>middleLeftLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A list of urls to include in the middle section left side  of the footer.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer/middleRowLeftColumn">Middle Row - Left Column</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>99e4f830-d6b1-4132-aadb-19f37ea4c806</Key>
      <Name>Content</Name>
      <Alias>middleRightContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Right column content.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer/middleRowRightColumn">Middle Row - Right Column</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2f97c772-394d-41a4-b328-dd847bc5393a</Key>
      <Name>Slide Display Timer</Name>
      <Alias>slideTimer</Alias>
      <Definition>21c468e7-f9a0-41b0-9f8f-b4c6540cf61a</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a value in seconds to set how long each slide is displayed]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header/bannerHero">Banner Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>48870c45-5f0b-4dfc-913f-b25e4999e537</Key>
      <Name>Slide Transition</Name>
      <Alias>slideTransition</Alias>
      <Definition>01a6abed-755f-4ae9-90fc-0e2288ccd97d</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the slide transition to use.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header/bannerHero">Banner Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4f662efd-a2a9-45c9-af85-7abacc270386</Key>
      <Name>Links</Name>
      <Alias>topRowLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The list of links that will appear in the top section of the footer.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer/topRow">Top Row</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>06a8926c-6050-4f02-91ea-3139caf70993</Key>
      <Caption>Bottom Row</Caption>
      <Alias>footer/bottomRow</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>23664900-8faf-4337-ac9d-ea53930beaf8</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3cb4769d-9a59-4bc7-9ab7-2cba4830b2b8</Key>
      <Caption>Middle Row - Right Column</Caption>
      <Alias>footer/middleRowRightColumn</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>5e2d28cf-91bb-4ce2-8bb8-a38a2cbfa0a3</Key>
      <Caption>Top Row</Caption>
      <Alias>footer/topRow</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>79aa3298-9c47-47ae-b7da-c7eb400287c7</Key>
      <Caption>Certifications Row</Caption>
      <Alias>footer/certificationsRow</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Key>b696af13-4935-4c35-9aa2-8948bd0de79b</Key>
      <Caption>Page Header</Caption>
      <Alias>header/pageHeader</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ced66fa9-8370-4eba-842b-4a1fb4e1d32a</Key>
      <Caption>Middle Row - Left Column</Caption>
      <Alias>footer/middleRowLeftColumn</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d53fb540-3993-4428-8418-b6595f4351e3</Key>
      <Caption>Banner Hero</Caption>
      <Alias>header/bannerHero</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>e96ad14c-927d-46cb-8671-06aa639a448b</Key>
      <Caption>Middle Row - Center Column</Caption>
      <Alias>footer/middleRowCenterColumn</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>fcb1679e-d03f-4949-961a-865ef5535df7</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>