<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="39d70d04-0b4e-4262-9d86-d004d562bb46" Alias="umbBlockGridDemoTwoColumnLayoutBlock" Level="2">
  <Info>
    <Name>Two Column Layout</Name>
    <Icon>icon-book-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Umbraco+Block+Grid+Demo</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>