<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="adb4307e-a8a5-4d99-9ef2-5c827aae1f99" Alias="companyContactMt" Level="2">
  <Info>
    <Name>Location Contact</Name>
    <Icon>icon-addressbook color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The company contact information used on the site.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Custom</Folder>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>f181aa0c-020d-41d6-8db6-a2a6b5363d84</Key>
      <Name>City</Name>
      <Alias>companyCity</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the location city.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="locationInformation">Location Information</Tab>
      <MandatoryMessage>The location city is a required.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f52ba12-fd70-454e-9f40-4ab8304090ce</Key>
      <Name>Location Name</Name>
      <Alias>companyLocation</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a name for the location. (Main Office or Frankfort Office)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="locationInformation">Location Information</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>610bf9ef-a663-4a30-9ac9-8865e47bc6e8</Key>
      <Name>Main Email</Name>
      <Alias>companyMainEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the main email address to display on the site.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="contactInformation">Contact Information</Tab>
      <MandatoryMessage>Main email is required.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8401032b-f662-43f1-831c-1c24b5b8d047</Key>
      <Name>Main Phone</Name>
      <Alias>companyMainPhone</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the main contact phone number.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="contactInformation">Contact Information</Tab>
      <MandatoryMessage>Main Phone is a required field.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8b80730d-277e-492e-8a7f-67092909145c</Key>
      <Name>Company Name</Name>
      <Alias>companyName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the company as it will appear in page titles and internal attributes.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="contactInformation">Contact Information</Tab>
      <MandatoryMessage>Short name is required as it is used for internal sources.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>141df437-94cd-4473-a630-36e733537fe6</Key>
      <Name>Office Hours</Name>
      <Alias>companyOfficeHours</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the location office hours]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="locationInformation">Location Information</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c105fa47-6a9e-4dc1-99f9-c7efb0a2abaf</Key>
      <Name>Other Phones</Name>
      <Alias>companyOtherPhones</Alias>
      <Definition>fed8079f-f14a-44f1-be09-d922a078fc22</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add up to 4 additional phone numbers. Optional contacts, may be placed in the footer or used on the Contact page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="contactInformation">Contact Information</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cb779813-b21f-42b4-9f6c-f3d675c3a5f5</Key>
      <Name>State</Name>
      <Alias>companyState</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the location state.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="locationInformation">Location Information</Tab>
      <MandatoryMessage>The location state is a required.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d7f2ec29-79d3-4a3f-a3ec-561396d9159b</Key>
      <Name>Street</Name>
      <Alias>companyStreet</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The location street address.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="locationInformation">Location Information</Tab>
      <MandatoryMessage>The location street address is a required.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9f2889a3-e2fd-41d2-a0b2-dce9f12fcae8</Key>
      <Name>Zip Code</Name>
      <Alias>companyZipCode</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the location zip code.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="locationInformation">Location Information</Tab>
      <MandatoryMessage>The location zip code is required.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>2093dc1b-e12a-4262-8ed7-3b8b603b19be</Key>
      <Caption>Contact Information</Caption>
      <Alias>contactInformation</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>21403da7-1ccf-41db-9e51-cfd514301e35</Key>
      <Caption>Location Information</Caption>
      <Alias>locationInformation</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</MediaType>