<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="9a44d802-7896-4b29-b7f8-a828bc3dc4d8" Alias="contactBookMt" Level="2">
  <Info>
    <Name>Contact Book</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A collection of location contacts</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Custom</Folder>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure>
    <MediaType Key="adb4307e-a8a5-4d99-9ef2-5c827aae1f99" SortOrder="0">companyContactMt</MediaType>
  </Structure>
  <Tabs />
</MediaType>