<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="b1d95cab-6155-4c55-a052-9830d0e6e4fa" Alias="employeeBioMt" Level="2">
  <Info>
    <Name>Employee Bio</Name>
    <Icon>icon-users color-black</Icon>
    <Thumbnail>icon-picture</Thumbnail>
    <Description>Media type for creating employee biographies.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Custom</Folder>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>fe87ed13-0180-4a11-89e2-a35840609205</Key>
      <Name>Bio</Name>
      <Alias>employeeBio</Alias>
      <Definition>40013533-18a2-4a85-aa7a-5a6482d7fed5</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A short biography for the employee. (500 character limit)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="biography">Biography</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eb80d5f6-08e4-40cb-988f-f46ae3c11f71</Key>
      <Name>Name</Name>
      <Alias>employeeName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The employee's name.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="biography">Biography</Tab>
      <MandatoryMessage>Name field is required</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4be6c508-47d0-49a0-941d-c6d0a8275fd1</Key>
      <Name>Title</Name>
      <Alias>employeeTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title or department for the employee.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="biography">Biography</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12a29c7a-6000-4351-9d1b-0a7e3476cbff</Key>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>930861bf-e262-4ead-a704-f99453565708</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in bytes]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="biography">Biography</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cc0d43c8-7169-42a8-a6a5-2ea936cf7c75</Key>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="biography">Biography</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9c6e25c5-f9bb-4901-9333-d4a204f73db1</Key>
      <Name>Image</Name>
      <Alias>umbracoFile</Alias>
      <Definition>76799729-f99b-43fc-8077-6af3d97926eb</Definition>
      <Type>Umbraco.ImageCropper</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="biography">Biography</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a823df6-00cf-406f-8e61-3c9ce3ac1fdf</Key>
      <Name>Height</Name>
      <Alias>umbracoHeight</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in pixels]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="biography">Biography</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>941dd350-80f7-45ca-a7cf-db7cc75f03bc</Key>
      <Name>Width</Name>
      <Alias>umbracoWidth</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in pixels]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="biography">Biography</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>9902e15d-a828-4c93-b58d-948bbeb30a04</Key>
      <Caption>Biography</Caption>
      <Alias>biography</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MediaType>