<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="2fa11843-79a0-4934-902a-141ff4804458" Alias="employeeBiosMt" Level="2">
  <Info>
    <Name>Employee Bios</Name>
    <Icon>icon-folder-close color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A collection containing employee biographies</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Custom</Folder>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure>
    <MediaType Key="b1d95cab-6155-4c55-a052-9830d0e6e4fa" SortOrder="0">employeeBioMt</MediaType>
  </Structure>
  <Tabs />
</MediaType>