<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="ed5bd18c-d301-48cc-b71e-78c56bf53fc0" Alias="footerBadgeMt" Level="2">
  <Info>
    <Name>Footer Badge</Name>
    <Icon>icon-badge color-black</Icon>
    <Thumbnail>icon-picture</Thumbnail>
    <Description>Certification badge displayed in the site footer</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Custom</Folder>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>8e2bc7e6-bcf1-440e-8c57-c6085f1ab29b</Key>
      <Name>Title</Name>
      <Alias>certBadgeTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title of the certification, used for ADA compliant "Alt Text".]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="image">Image</Tab>
      <MandatoryMessage>Please provide a title for the certificatation.</MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d4c67b7e-5a5e-42af-afd0-49a59f1703b7</Key>
      <Name>URL</Name>
      <Alias>certBadgeUrl</Alias>
      <Definition>cf09f36e-8005-4deb-86da-75cd3f0b6819</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A URL link for the certification. (Optional)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="image">Image</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f53973a-ba16-4aa3-b92d-e99c1a6938ca</Key>
      <Name>Size</Name>
      <Alias>umbracoBytes</Alias>
      <Definition>930861bf-e262-4ead-a704-f99453565708</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in bytes]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="image">Image</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1715a2c-075c-49fe-b188-372b065ce4d8</Key>
      <Name>Type</Name>
      <Alias>umbracoExtension</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="image">Image</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a699f043-2e96-491f-b4f4-d4491a0b0e83</Key>
      <Name>Image</Name>
      <Alias>umbracoFile</Alias>
      <Definition>8985c7fb-a25a-452e-ae38-0b3d21c477cf</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="image">Image</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d718423a-8eb0-4f20-8e76-0c769d5553ed</Key>
      <Name>Height</Name>
      <Alias>umbracoHeight</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in pixels]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="image">Image</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0e9e910-ead6-4039-8a0a-8a5e584ed37f</Key>
      <Name>Width</Name>
      <Alias>umbracoWidth</Alias>
      <Definition>8e7f995c-bd81-4627-9932-c40e568ec788</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[in pixels]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="image">Image</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>1f7e47c6-a50f-4ec7-b7c3-ca7d181044f7</Key>
      <Caption>Image</Caption>
      <Alias>image</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</MediaType>