<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="7695af35-09ed-44cd-8aca-303383960e4d" Alias="footerBadgesMt" Level="2">
  <Info>
    <Name>Footer Badges</Name>
    <Icon>icon-folder color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A collection of certification or other badges to feature below the footer.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Custom</Folder>
    <Compositions />
  </Info>
  <GenericProperties />
  <Structure>
    <MediaType Key="ed5bd18c-d301-48cc-b71e-78c56bf53fc0" SortOrder="0">footerBadgeMt</MediaType>
  </Structure>
  <Tabs />
</MediaType>