<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="jarkmarvis@gmail.com">
  <Info>
    <Comments />
    <Name>Mark Jarvis</Name>
    <Username>jarkmarvis@gmail.com</Username>
    <Email>jarkmarvis@gmail.com</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAENj3kELAAEAezjiB9/AYs/4g1VkFhvV/bWluBrni/uVcsv+3B72hrJhkTmXRqMzwsg==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>