<?xml version="1.0" encoding="utf-8"?>
<DataType Key="efa23333-c52b-4830-9ea6-639ecf8380a2" Alias="Banner Hero Image Picker" Level="3">
  <Info>
    <Name>Banner Hero Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Page+Settings+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 6,
    "min": 0
  }
}]]></Config>
</DataType>