<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a7a01a33-2eb0-4142-ac44-20661e667ad1" Alias="Content Tags" Level="2">
  <Info>
    <Name>Content Tags</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Delimiter": "\u0000",
  "Group": "Content",
  "StorageType": 1
}]]></Config>
</DataType>