<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fed8079f-f14a-44f1-be09-d922a078fc22" Alias="Contact Info - Other Phones" Level="2">
  <Info>
    <Name>Contact Info - Other Phones</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Maximum": 4,
  "Minimum": 0
}]]></Config>
</DataType>