<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40013533-18a2-4a85-aa7a-5a6482d7fed5" Alias="Employee Bio Text" Level="2">
  <Info>
    <Name>Employee Bio Text</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 800,
  "Rows": null
}]]></Config>
</DataType>