<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76799729-f99b-43fc-8077-6af3d97926eb" Alias="Employee Bio - Image" Level="2">
  <Info>
    <Name>Employee Bio - Image</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "lg-employee-bio",
      "height": 500,
      "width": 500
    },
    {
      "alias": "md-employee-bio",
      "height": 250,
      "width": 250
    },
    {
      "alias": "sm-employee-bio",
      "height": 125,
      "width": 125
    }
  ]
}]]></Config>
</DataType>