<?xml version="1.0" encoding="utf-8"?>
<DataType Key="61928a56-9966-459a-b339-675c087a28f5" Alias="Footer Badge Media Picker" Level="3">
  <Info>
    <Name>Footer Badge Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Page+Settings+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": true,
  "Filter": "footerBadgeMt",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": "umb://media/eab3a5fbed6d4053a7e03306bf617c51",
  "ValidationLimit": {
    "max": null,
    "min": 0
  }
}]]></Config>
</DataType>