<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9d93c428-b466-4405-b25f-26ccf3a996cd" Alias="Footer Badge - Image -OLD" Level="3">
  <Info>
    <Name>Footer Badge - Image -OLD</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Page+Settings+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "Tall",
      "height": 160,
      "width": 130
    },
    {
      "alias": "Wide",
      "height": 80,
      "width": 190
    }
  ]
}]]></Config>
</DataType>