<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2cc8c1d9-d919-4113-98cf-0f4b10c7c0d2" Alias="Footer - Company email - Email address" Level="3">
  <Info>
    <Name>Footer - Company email - Email address</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/Page+Settings+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>