<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8985c7fb-a25a-452e-ae38-0b3d21c477cf" Alias="Footer Badge Image Picker" Level="3">
  <Info>
    <Name>Footer Badge Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Page+Settings+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": "umb://media/505d5a9de3484070ab17d9cfa2e5ad57",
  "ValidationLimit": {
    "max": 6,
    "min": null
  }
}]]></Config>
</DataType>