<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ab88bf6-0a0d-432f-bb09-15c6e83a9717" Alias="HomePage - Block Grid" Level="1">
  <Info>
    <Name>HomePage - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "c3652df2-24d7-4edc-92f5-6ee2fa622e5d",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoHeadlineBlock.html",
      "stylesheet": null,
      "label": "Headline ({{headline | truncate:true:36}})",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "51cb8726-f6e2-4e58-bb8a-cd01e5a5bcb8"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "64e496d0-7be1-4667-af36-06aa9de4b4d6",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoImageBlock.html",
      "stylesheet": null,
      "label": "Image",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "51cb8726-f6e2-4e58-bb8a-cd01e5a5bcb8"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "af4421e8-61a3-40a4-aac2-0666076992e6",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoRichTextBlock.html",
      "stylesheet": null,
      "label": "Rich Text  ({{richText | ncRichText | truncate:true:36}})",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "51cb8726-f6e2-4e58-bb8a-cd01e5a5bcb8"
    },
    {
      "columnSpanOptions": [],
      "rowMinSpan": 1,
      "rowMaxSpan": 1,
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "key": "12ed35da-8301-4843-a430-10abec86ae48",
          "alias": "left",
          "createLabel": null,
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null,
          "specifiedAllowance": []
        },
        {
          "key": "91ba8a90-d246-4dcf-9b74-1263a9ddb12f",
          "alias": "right",
          "createLabel": null,
          "columnSpan": 6,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": null,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "39d70d04-0b4e-4262-9d86-d004d562bb46",
      "settingsElementTypeKey": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoTwoColumnLayoutBlock.html",
      "stylesheet": null,
      "label": "Two Column Layout",
      "editorSize": "medium",
      "inlineEditing": false,
      "forceHideContentEditorInOverlay": false,
      "groupKey": "51cb8726-f6e2-4e58-bb8a-cd01e5a5bcb8"
    }
  ],
  "BlockGroups": [
    {
      "key": "51cb8726-f6e2-4e58-bb8a-cd01e5a5bcb8",
      "name": "Demo Blocks"
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "MaxPropertyWidth": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "CreateLabel": null
}]]></Config>
</DataType>