<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf09f36e-8005-4deb-86da-75cd3f0b6819" Alias="Image URL Picker" Level="2">
  <Info>
    <Name>Image URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>