<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d80ebf5f-5c6f-486a-9d24-2a3c4123137b" Alias="Location Picker" Level="2">
  <Info>
    <Name>Location Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "companyContactMt",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/6407494adec143df8db5448c20e5d26d",
  "ValidationLimit": {
    "max": 2,
    "min": 0
  }
}]]></Config>
</DataType>