<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6bfa2e4c-d5d1-430f-b4d5-b1707e7238af" Alias="Multiple Media Picker (copy)" Level="2">
  <Info>
    <Name>Multiple Media Picker (copy)</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": null,
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>