<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21c468e7-f9a0-41b0-9f8f-b4c6540cf61a" Alias="Page Settings - Slide Display Timer" Level="3">
  <Info>
    <Name>Page Settings - Slide Display Timer</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom/Page+Settings+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 5,
  "step": 5,
  "max": 30
}]]></Config>
</DataType>