<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd62a82f-ef40-451a-a7f0-700972e5bf78" Alias="Page Settings - Display This Section Off" Level="3">
  <Info>
    <Name>Page Settings - Display This Section Off</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Custom/Page+Settings+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Hidden",
  "LabelOn": "Displayed",
  "ShowLabels": true
}]]></Config>
</DataType>