<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01a6abed-755f-4ae9-90fc-0e2288ccd97d" Alias="Transition Effects" Level="3">
  <Info>
    <Name>Transition Effects</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/Page+Settings+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "None"
    },
    {
      "id": 2,
      "value": "Slide"
    },
    {
      "id": 3,
      "value": "Dissolve"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>